<h1>Adnat</h1>

<p>Logged in as <%= current_user.name %> <%= link_to "Log Out", destroy_user_session_path, method: :delete %> </p>

<h2><%= @organisation.name %></h2>

<h5>Shifts</h5>
<table>
  <tr>
    <th>Employee Name</th>
    <th>Shift Date</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Break Length (minutes)</th>
    <th>Hours Worked</th>
    <th>Shift Cost</th>
  </tr>
  <% @shifts.each do |shift| %>
    <tr>
      <td><%= shift.user.name %></td>
      <td><%= shift.start.strftime("%d/%m/%Y") %></td>
      <td><%= shift.start.strftime("%I:%M%p") %></td>
      <td><%= shift.finish.strftime("%I:%M%p") %></td>
      <td><%= shift.break_length %></td>
      <td><%= hours_worked = ((((shift.finish - shift.start) / 60) - shift.break_length) / 60).round(2) %></td>
      <td>$<%= hours_worked * @organisation.hourly_rate %></td>
    </tr>
  <% end %>
</table>

<%= render 'shared/shiftform', organisation: @organisation, shift: @shift %>
